# Environment
PORT=3001
NODE_ENV=production

# Service Host Configuration
AI_SERVICE_HOST=localhost
AI_SERVICE_PORT=4400

STOCK_SERVICE_HOST=localhost
STOCK_SERVICE_PORT=4200

FINANCIAL_SERVICE_HOST=localhost
FINANCIAL_SERVICE_PORT=4300

EXCHANGE_SERVICE_HOST=localhost
EXCHANGE_SERVICE_PORT=4100

MARKET_SERVICE_HOST=localhost
MARKET_SERVICE_PORT=3002

SCHEDULER_SERVICE_HOST=localhost
SCHEDULER_SERVICE_PORT=4500

# Firebase Configuration
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY=your-private-key
FIREBASE_CLIENT_EMAIL=your-service-account-email
FIREBASE_STORAGE_BUCKET=your-storage-bucket
